@use './presets';
@use './item_count';

.item_detail{
    background-color: presets.$color5;
    height: 100vh;
    align-content: center;
    
    .item_detail_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 25vw, 600px), 1fr));
        justify-content: center;
        gap: 2rem;
        padding: 30px;
        max-width: 1200px;
        margin: 0 auto;
        background-color: presets.$color6;
        border-radius: 10px;

        .item_detail_img{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            height: clamp(200px, 25vw, 400px);
        }
        .item_detail_content{
            background-color: presets.$color5;
            width: 100%;
            padding: clamp(10px, 1vw, 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
            gap: 1rem;
            border-radius: 10px;

            h2{
                text-align: center;
                @include presets.fuente_shrikahnd;
                font-size: clamp(14px, 5vw, 40px);
                color: presets.$color1;
            }
            
            h3, h4{
                @include presets.fuente_bebas_neue(500);
            }

            h3{
                font-size: clamp(10px, 4vw, 20px);
                margin-top: -20px;
            }
        }
    }
}