@use './presets';

.carrito{
    width: clamp(2.5rem, 4.5vw, 4rem);
    display: flex;
    height: clamp(2rem, 6vw, 3rem);
    .icon{
        align-self: center;
        height: 2rem;
        width: clamp(1.5rem, 3vw, 3.5rem);
        cursor: pointer;
        color: white;
        @include presets.pointer-navbar;
    }
    .contador{
        align-self: flex-start;
        z-index: 1000;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 0.1rem 0.3rem;
        font-size: clamp(0.45rem, 0.8vw, 3rem);;
    }
}