@use './item_list';
@use './presets';

.i_l_container{
    margin-top: clamp(1rem, 10vw, 4rem);
    background-color: presets.$color5;
    display: flex;
    justify-content: center;   
    height: 100vh;
}